.centered {  
  position:fixed;
  z-index: 100;  
  top:15%;  
  left:50%;  
  margin:-100px 0 0 -100px;  
  width:200px;  
  height:200px;  
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(26, 26, 26);
    font-family: sans-serif;
}
#ip{
    width: 500px;
    min-height: 30px;
    box-shadow: -3px -3px 5px rgb(63, 63, 63) , 3px 3px 5px black;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    position: absolute;
    top: 165px;
    left: 50%;
    margin: -50px auto;
    transform:translateX(-50%) ;
    font-size: 18px;
    text-transform: capitalize;
}
.keyboard{
  width: 680px;
  margin:400px -175px 100px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}
.row{
  margin:5px ;
  user-select: none;
}
button{
  width: 50px;
  height: 50px;
  font-weight: bold;
  margin: 0 4px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: -2px -2px 4px rgb(63, 63, 63) , 2px 2px 4px black;
  border-radius: 5px;
  cursor: pointer;
}
.row4 , .backspace , .space{
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyboard .backspace , .space{
  color: black;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
.backspace , .space{
  border-radius: 5px;
  box-shadow: -2px -2px 4px rgb(63, 63, 63) , 2px 2px 4px black;
}
.keyboard button {
  width: 50px;
  height: 50px;
}
.keyboard .space {
  width: 300px;
  height: 50px;
}
.keyboard .backspace {
  width: 100px;
  height: 50px;
  margin-left: 15px;
}
textarea {
  position:fixed;
  z-index: 100;  
  top:15%;  
  left:44%;  
  margin:-100px 0 0 -100px;  
  width:200px;  
  height:50px;
  color: black;  
}
.clear {
  position:fixed;
  z-index: 100;  
  top:15%;  
  left:44%;  
  margin: 250px 20px 100px;
  width:150px;  
  height:50px;
  color: black;  
}
.trnslt {
  position:fixed;
  z-index: 100;  
  top:15%;  
  left:44%;  
  margin: 100px 20px 100px;
  width:150px;  
  height:50px;
  color: black;  
}
.save {
  position:fixed;
  z-index: 100;  
  top:15%;  
  left:44%;  
  margin: 175px 20px 100px;
  width:150px;  
  height:50px;
  color: black;  
}
